<div>
  <form>
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputPseudo">Name</label>
        <input type="text" class="form-control" id="inlineFormInputPseudo" [(ngModel)]="pseudoSaisi" name="pseudoSaisi" placeholder="Pseudo">
      </div>
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputmail">Name</label>
        <input type="text" class="form-control" id="inlineFormInputmail" [(ngModel)]="mailSaisi" name="mailSaisi" placeholder="Mail">
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary" (click)="enregistrer()">Enregistrer</button>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary" routerLink="/utilisateurs">Utilisateurs</button>
      </div>
    </div>
  </form>
</div>
