<button type="button" class="btn btn-outline-primary" routerLink="/articles" value="visiteur">Visiteur</button>
<button type="button" class="btn btn-outline-success" routerLink="/utilisateurs" value="auteur">Auteur</button>
