<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://alicegren.fr/wp-content/uploads/2017/11/blog.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{articles.titre}}</h5>
    <p class="card-text">{{articles.resume}}</p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-outline-success" (click)="show = !show">{{show ? 'masquer' : 'lire la suite'}}</button>
    <a href="#" class="card-link" (click)="show"></a>
  </div>
  <div class="contenu" *ngIf="show">{{articles.contenu}}</div>
  <button type="button" class="btn btn-success" *ngIf="show">cat : {{articles.categories}}</button>
</div>
