<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Titre de l'article</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="titreSaisie" name="titreSaisie" placeholder="Titre de l'article">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Accroche de l'article</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" maxlength="200" [(ngModel)]="resumeSaisie" name="resumeSaisie" placeholder="Accroche de l'article (max 200 caractères)">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Contenu de l'article</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"  [(ngModel)]="contenuSaisi" name="contenuSaisi" ></textarea>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect1">Bases d'attaches</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1.1" [(ngModel)]="utilisateur" (ngModelChange)="getUtilisateur()"name="pseudoUtilisateur">
      <option *ngFor="let utilisateurs of listeUtilisateurs">{{utilisateurs.id}}, {{utilisateurs.pseudo}},{{utilisateurs.email}}</option>
    </select>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect1">Bases d'attaches</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" [(ngModel)]="categorieSaisi" name="base">
        <option value="astuce">astuce</option>
        <option value="bonnesPratiques">bonnesPratiques</option>
        <option value="bug">bug</option>
        <option value="CSS3">CSS3</option>
        <option value="google">google</option>
        <option value="hebergement">hebergement</option>
        <option value="navigateur">navigateur</option>
        <option value="php">php</option>
        <option value="referencement">referencement</option>
        <option value="repertoire">repertoire</option>
        <option value="securite">securite</option>
        <option value="serveur">serveur</option>
        <option value="coronavirus">coronavirus</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="enregistrer()">
    Creer l'article
  </button>
  <button type="button" class="btn btn-outline-primary" routerLink="/articles" value="visiteur">Voir les articles</button>
</form>
