<nav>
  <a
    class="colorLinks">
    <img class="card-img-top" src="https://www.zenika.com/static/logos/logo.png" alt="Card image cap">
  </a>
  <a> Zenika-Blog </a>
  <a
    class="colorLinks"
    routerLink=""
    routerLinkActive="active">
    home
  </a>

</nav>
<router-outlet></router-outlet>
