<h5>Choississez un utilisateur</h5>
<div *ngFor="let utilisateur of listeUtilisateurs">
  <app-utilisateur-show [utilisateur]="utilisateur">
  </app-utilisateur-show>
</div>
<button type="button" class="btn btn-primary" routerLink="/creer-utilisateurs">
  créer un nouvel utilisateur
</button>
